ip: 192.168.10.10
memory: 2048
cpus: 2
provider: virtualbox
name: asloan
hostname: asloan

authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa

folders:
    -
        map: ~/Code
        to: /home/vagrant/code
sites:
    -
        map: asloan.banking
        to: /home/vagrant/code/public
databases:
    - asloanbank

features:
    -
        mariadb: false
    -
        ohmyzsh: false
    -
        webdriver: false
